<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
  <bean name="person" class="e.domain.Person">
    <property name="name" value="Dick"/>
    <property name="age" value="39"/>
    <property name="height" value="170"/>
    <property name="programmer" value="true"/>
    <property name="id" value="700700700700"/>
  </bean>
</beans>       